<div class="container">
  <div class="banner">
    <div class="topnav">
      <a href="#contact">Contact</a>
      <a href="#login">Log In</a>
      <a href="#schedule">Schedule</a>
      <a href="#about">About</a>
      <a href="#home">Home</a>
    </div>
      <h1>VinYin YOGA</h1>
      <h4>Specialists in Vinyasa & Yin Yoga</h4>
      <p>English language yoga in Hilversum - <b>OPENING SOON!!!</b><br><br>Subscribe to our newsletter for opening details</p>
      <div class="newsletter-name-email">
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Email Address" name="mail" required>
        <input type="submit" value="Subscribe">
      </div>
    </div>
  </div>
</div>
